* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.chat-cnt {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 150px;
  border: 2px solid blanchedalmond;
  background: #303c6c;
  border-radius: 0px 20px 20px 0px;
  align-content: center;
  flex-wrap: wrap;
}

#maze-svg {
  position: absolute;
  top: 45px;
}
#home-svg {
  position: absolute;
  top: 160px;
}

#msg-svg {
  position: absolute;
  top: 241.87px;
}

#logout-svg {
  position: absolute;
  bottom: 30px;
  left: 3rem;
}

#setting-svg {
  position: absolute;
  top: 331.25px;
}

.chat-section {
  border: 2px solid blue;
  height: 100vh;
}

.chat-people {
  border: 2px solid rgb(255, 153, 0);
  height: 99vh;
}

.chat-personal {
  border: 2px solid rgb(5, 122, 11);
  height: 99vh;
}

.CP-cnt {
  display: flex;
  justify-content: space-between;
}

.people-list {
  display: flex;
  justify-content: space-between;
}

.people-name {
  font-size: 18px;
}

.people-img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.personal-img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.people-time {
  font-size: 12px;
}
.people-msg {
  font-size: 14px;
}

.people-info-div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.people-cnt-div,
.personal-info {
  display: flex;
}

.personal-info {
  justify-content: center;
  align-items: center;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  margin: 0px 0px 0px 7px;
  height: 75px;
}

.people-section-div {
  height: 600px;
  margin: 1rem;
  padding: 1rem;
}

.personal-header {
  background-color: rgba(48, 60, 108, 1);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.click-to-chat {
  cursor: pointer;
}

.card-header {
  background-color: rgba(48, 60, 108, 1);
  border-top-left-radius: 1rem;
  border-top-rig  ht-radius: 1rem;
}
